
* {
  box-sizing:border-box;
  /* border: 1px solid red; */
}

/* BASE STYLES */


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align:center;
  background-color: rgb(250, 250, 250);
  line-height: 1.5;
}

header p {
  color:rgb(125, 125, 125);
  font-size: 1em;
  padding-top: 10px;


}

a {
  text-decoration: none;
  display:block;
  margin-bottom:none;
  color: #000;
}

nav a {
  padding: 15px 0 10px;
}

nav li {
  background-color: #fff;
  margin-top: 10px;
}

footer a,
nav a,
h2 {
  text-transform:uppercase;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
}

h2 {
  padding: 50px 0 25px;
  font-size:1em;
}

h3 {
  font-weight:400;
  padding-top:10px;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Khula', 'Helvetica', sans-serif;
}

section p {
  font-size:.95em;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer p {
  margin-top:0;
  padding:5px 0;
  color:rgb(125, 125, 125);
}

footer h2 {
  margin-bottom:0;
}

footer small,
footer a {
  font-weight:700;
  font-size: .85em;
  color: #000;
}

footer small {
  float:left;
}

footer a {
  float:right;
}

footer ul {
  display:none;
}

/* PSEUDO-CLASS STYLES */

nav a:hover {
  background-color:#f0f0f0;
  transition: all .3s;
}


/* CLASS STYLES */

.main-header {
  padding-bottom: 30px;
}

.profile-image {
  width:70%;
  padding-top: 40px;
}

.section-images {
  width: 100%;
}

.padding-general {
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-wrapper {
  background-color:rgb(255, 255, 255);
  padding-bottom: 60px;
}

.contact {
  margin-bottom: 60px;
}

.contact-info {
  font-weight: 700;
}

.footer-para {
  padding:25px 0 15px;
  border-top: 1px solid rgba(214, 214, 214, .5);
}

/* Clearfix */

.clearfix::after {
  content:"";
  display:table;
  clear:both;
}

/* Media Quries */

@media (min-width:768px) {

  nav li {
    display:inline-block;
    background-color: transparent;
    margin: 0 10px;
  }

  nav a {
    padding:15px 15px 10px;
  }

  header p {
    font-size: 1.1em;
  }

  .profile-image {
    float:right;
    width:40%;
    padding-left:15px;
    padding-top:15px;
  }

  .main-header p {
    text-align:left;
  }

  .col {
    width: 50%;
    padding:5px;
    float:left;
  }

  .contact p {
    font-size: 1.25em;
    width:75%;
    margin:10px auto;
  }

  .row {
    padding-bottom:20px;
  }

  .portfolio-wrapper {
    padding-bottom: 10px;
  }

  .back-to-top {
    display:none;
  }

  .footer-para {
    float:left;
    border:none;
    padding-top:0;
  }

  footer li {
    display:inline-block;
    background-color: transparent;
    margin: 0 10px;
  }

  footer ul {
    float:right;
    margin-top:0;
    display:inline-block;
  }

  .bottom-nav {
    padding:25px 0 60px;
    border-top: 1px solid rgba(214, 214, 214, .5);
  }


  #contact-para {
    margin-bottom: 30px;
  }

}
