
* {
  box-sizing:border-box;
  /* border: 1px solid red; */
}

/* BASE STYLES */


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align:center;
  background-color: rgb(250, 250, 250);
  line-height: 1.5;
}

header p {
  color:rgb(125, 125, 125);
  font-size: 1em;
  padding-top: 10px;


}

a {
  text-decoration: none;
  display:block;
  color: #000;
}

nav a {
  padding: 15px 0 10px;
}

nav li {
  background-color: #fff;
  margin-top: 10px;
}

footer a,
nav a,
h2 {
  text-transform:uppercase;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
}

h2 {
  padding: 50px 0 25px;
  font-size:1em;
}

h3 {
  font-weight:400;
  padding-top:10px;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Khula', 'Helvetica', sans-serif;
}

section p {
  font-size:.95em;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer p {
  margin-top:0;
  padding:5px 0;
  color:rgb(125, 125, 125);
}

footer h2 {
  margin-bottom:0;
}

footer small,
footer a {
  font-weight:700;
  font-size: .85em;
  color: #000;
}

footer small {
  float:left;
}

footer a {
  float:right;
}

footer ul {
  display:none;
}

/* PSEUDO-CLASS STYLES */

nav a:hover {
  background-color:#f0f0f0;
  transition: all .3s;
}

a:hover {
  color: #1c61aa;
  transition: all .3s;
}

.skills-list span:hover {
  color: #1c61aa;
  background-color:#fff245;
  font-weight:500;
  transition: all .3s;
}


/* CLASS STYLES */

.main-header {
  padding-bottom: 30px;
}


.profile-image {
  width:70%;
  padding-top: 40px;
}

.section-images {
  width: 100%;
}

.padding-general {
  padding-left: 20px;
  padding-right: 20px;
  margin:0 auto;
}

.portfolio-wrapper {
  background-color:rgb(255, 255, 255);
  padding-bottom: 60px;
  margin:0 auto;
}

.contact {
  margin-bottom: 60px;
}

.contact-info {
  font-weight: 700;
}

.footer-para {
  padding:25px 0 15px;
  border-top: 1px solid rgba(214, 214, 214, .5);
}

.skills-list span {
  background-color:#1c61aa;
  padding: 10px 0;
  margin: 5px;
  width:40%;
  display:inline-block;
  border-radius: 10px;
  min-width: 150px;

}

.skills-list li {
  color:white;
}

#skills {
  border-top:1px solid rgba(214, 214, 214, .5);
  margin-top:0px;
}

#skills h2 {
  padding-top:50px;
  clear:both;
}

.calculator-section p {
  margin-bottom:0px;
}

/* Clearfix */

.clearfix::after {
  content:"";
  display:table;
  clear:both;
}

/* Media Quries */

@media (min-width:768px) {

  nav li {
    display:inline-block;
    background-color: transparent;
    margin: 0 10px;
  }

  nav a {
    padding:15px 15px 10px;
  }

  header p {
    font-size: 1.1em;
    padding:0;
  }

  .profile-image {
    float:right;
    width:40%;
    padding-left:15px;
    padding-top:25px;
  }

  .main-header {
    padding-left: 7px;
    padding-right: 7px;
  }

  .main-header p {
    text-align:left;
  }

  .col {
    width: 50%;
    display: inline-block;
    margin-left: -4px;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 7px;
  }

  .skills-list ul {
    width:70%;
    margin:auto auto 50px;
    text-align: center;
  }
  .skills-list span {
    width: 90%;
  }
  .skills-list li {
    float:left;
    display: inline;
    /* margin-left: 10px;
    margin-right: 10px; */
    width:50%;
  }
  #skills {
    border-top:1px solid rgba(214, 214, 214, .5);
    margin-top:0px;
  }

  .contact p {
    font-size: 1.25em;
    width:75%;
    margin:10px auto;
  }

  .row {
    padding-bottom:20px;
  }

  .portfolio-wrapper {
    padding-bottom: 10px;
    margin:0 auto;
  }

  .back-to-top {
    display:none;
  }

  .footer-para {
    float:left;
    border:none;
    padding-top:0;
  }

  footer li {
    display:inline-block;
    background-color: transparent;
    margin: 0 10px;
  }

  footer ul {
    float:right;
    margin-top:0;
    display:inline-block;
  }

  .bottom-nav {
    padding:25px 0 60px;
    border-top: 1px solid rgba(214, 214, 214, .5);
  }


  #contact-para {
    margin-bottom: 30px;
  }

}

@media (min-width: 1024px) {


  .col {
    width:33.3%;

    float:left;
    margin:0 auto;
  }

  nav {
    float:right;
  }
  nav a,
  nav li {
    padding: 13px 0 0 10px;
    margin-right: 0;
    font-size: .95em;
  }

  h1 {
    float:left;
  }

  header p {
    font-size: 1em;
  }

  .main-header {
    padding-top: 20px;
  }

  .main-wrapper {
    padding:0 25px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .profile-image {
    padding-left: 20px;
  }

  nav a:hover {
    background-color: transparent;
  }

  .bottom-nav {
    padding-bottom: 25px;
  }

  .bottom-nav ul,
  .bottom-nav a,
  .bottom-nav li {
    margin-bottom:0;
    padding-right: 0;
    margin-right:0;
  }

  .footer-para {
    padding-bottom:0;
    margin-bottom:0;
  }
  .main-footer {
    padding-left:27px;
    padding-right:27px;
  }

  .main-footer p {
    width: 60%;
  }

  .skills-list li {
    float:left;
    display: inline;
    width:33.3%;
  }

  #skills {
    border-top:1px solid rgba(214, 214, 214, .5);
    margin-top:0px;
    clear:both;
  }


}
